.movieCard {
  position: relative;
}

.contentChip {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.backgroundDiv {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  margin-top: -4rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.movieBanner {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
}
@media (min-width: 640px) {
  .movieBanner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.posterDiv {
  height: 50vh;
  width: fit-content;
  border-radius: 20px;
}

.bannerPoster {
  display: none;
  height: 30vh;
  width: fit-content;
  border-radius: 20px;
}

@media (min-width: 640px) {
  .bannerPoster {
    display: inline;
  }
}
